.error-text {
  color: black;
  position: absolute;
  top: 2em;
  left: 1em;
}

@media (max-width: 415px) {

  .error-text {
    visibility: hidden;
  }

  .add-appt-view {
    background: black;
    background-image: url(http://best-wallpaper.net/wallpaper/1920x1080/1302/Extreme-sports-mountain-bike_1920x1080.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center top;
    height: 47em;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .add-appt-header {
    border-bottom: 1px black solid;
    min-height: 3em;
    text-align: center;
    position: relative;
    background: black;
    opacity: .7;
    padding-top: .9em;
    font-size: 1.3em;
  }

  .add-appt-header .back-button {
    background: none;
    border: none;
    color: white;
    float: left;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  .appt-form-container {
    width: 100%;
    margin: auto;
    padding-top: 1em;
  }

  .add-appt-form {
    width: 100%;
    text-align: center;
    margin-top: .7em;
  }

  .form-label {
    font-size: 1.3em;
    text-align: left;
    visibility: hidden;
  }

  .add-appt-name,
  .add-appt-date,
  .add-appt-time,
  .add-appt-street,
  .add-appt-state {
    padding: 1.2em;
    font-size: 1.3em;
    margin-bottom: 5px;
    width: 15em;
    background: white;
    opacity: .7;
    border-radius: .25em;
    outline-color: white;
  }

  .confirm-appt {
    padding: 1em;
    background: #3fc380;
    opacity: .7;
    color: white;
    border: none;
    width: 15.25em;
    font-size: 1.5em;
    margin-top: 1em;
    border-radius: .25em;
  }

}
