body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  color: white;
}

@media (max-width: 415px) {

  .main-view {
    background-image: url(http://2.bp.blogspot.com/-F8RVwP314y8/Uf8fDqSDrmI/AAAAAAAAAOE/zXqtdJRtzrA/s1600/bungee-jumping-over-a-mountain-lake_1920x1200_792-wide.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center top;
    min-height: 47em;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .overlay {
    position: absolute;
    background: black;
    opacity: .3;
    height: 100%;
    width: 100%;
  }

  .main-view-header {
    border-bottom: 1px black solid;
    min-height: 3em;
    text-align: center;
    position: relative;
    background: white;
    opacity: .8;
    padding-top: .9em;
    font-size: 1.3em;
  }

  .header-span {
    padding-top: .5em;
    display: block;
    color: #0b2163;
    font-weight: 600;
  }

  .add-appt {
    position: absolute;
    right: 0.5em;
    font-size: 1.2em;
    background: none;
    border: none;
    color: #0b2163;
  }

  .appt-li {
    border-top: 1px solid rgba(60, 60, 60, 0.75);
    border-bottom: 1px solid rgba(60, 60, 60, 0.75);
    position: relative;
    background: white;
    opacity: .8;
    min-height: 5em;
    font-size: 1em;
    box-sizing: border-box;
    color: #0b2163;
    font-weight: 600;
    line-height: 1.4em;
  }

  .appt-li:nth-child(odd) {
    background: #b7b7b7;
    opacity: .9;

  }

  .hide-appt-li {
    display: none;
  }

  .confirm-delete-popup {
    visibility: hidden;
    position: absolute;
    background: black;
    box-sizing: border-box;
    padding-left: .4em;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .confirm-delete-yes, .confirm-delete-cancel {
    float: right;
    box-sizing: border-box;
    height: 100%;
    border: none;
    opacity: .7;
    font-family: raleway;
    width: 4em;
    font-size: 1em;
  }

  .confirm-delete-yes {
    background: #3fc380;
  }

  .confirm-delete-cancel {
    background: #c54040;
  }

  .confirm-delete-text {
    padding-top: 2em;
    padding-left: 2.2em;
    position: absolute;
    color: #c54040;

  }

  .appt-name,
  .appt-address {
    display: block;
  }

  .appt-name {
    font-size: 1.4em;
    padding-bottom: .4em;
    padding-top: .6em;

  }

  .date-time-div {
    height: 84%;
    position: absolute;
    background-color: #0b2163;
    width: 4em;
    top: 0%;
    padding: .2em 0;
    /*transform: translateY(-50%);*/
    box-sizing: border-box;
    border-right: 1px solid;
    border-radius: 0 0 0.3em;

  }

  .appt-time {
    font-size: 1.5em;
    color: white;
    position: absolute;
    left: 10%;
    line-height: 1.2em;


  }

  .name-address-div {
    position: absolute;
    left: 47%;
    top: 39%;
    transform: translate(-50%, -50%);
  }

  .remove-appt-button {
    font-family: sunnyapp;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
    border: none;
    background: none;
    outline: none;
    color: #0b2163;
  }

  .appt-container {
    height: 100%;
  }

  .list-poo-icon {
    position: absolute;
    width: 35px;
    left: .7em;
    top: 20px;
  }

  .weather-info {
    color: #0b2163;
    width: 25%;
  }

}
