<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">
  <title>Appointment App</title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main-page.css">
  <link rel="stylesheet" href="css/appt-detail-page.css">
  <link rel="stylesheet" href="css/add-appt-page.css">
  <link href="https://fontastic.s3.amazonaws.com/wwg3Jf9kDTvTkeuAzZJHre/icons.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- // <script src="/Users/hifilorau/code/exercises/sunnyappointments/bower_components/lodash/lodash.min.js"></script> -->
  <script src="/Users/Zach/dev/sunnyappointments/bower_components/lodash/lodash.min.js"></script>

</head>

<body>

  <header></header>

  <div class="empty-wrapper"></div>

    <!-- This script contains HTML for main page -->
    <script id="main-page" type="text/html">

      <div class="main-view">

        <div class="error-text">
          IF YOU CAN SEE THIS YOU NEED TO SHRINK YOUR DISPLAY TO BELOW 415PX YOU DONKEY!
        </div>
        <div class="overlay"></div>
        <div class="main-view-header"><button class="add-appt">+</button><span class="header-span">Appointments</span></div>
        <ul class = "appt-container">

          <% m.appts.forEach(function (appt) { %>

          <li class="appt-li">

            <div class="date-time-div">

              <span class="appt-time"><%- appt.time %></span>
              <span class="appt-date"><%- appt.date %></span>

            </div>
            <div class="name-address-div">

              <span class="appt-name"><%- appt.title %></span>
              <span class="appt-address"><%- appt.streetAddress %></span>
              <span class="appt-city-state"><%- appt.cityState %></span>

            </div>
            <button class="remove-appt-button">x</button>

              <div class="confirm-delete-popup">

                <span class="confirm-delete-text">Delete Test Appt?</span>
                <button class="confirm-delete-yes">yes</button>
                <button class="confirm-delete-cancel">cancel</button>

              </div>

          </li>

          <% }) %>

    <!-- This script contains HTML for the add appointment page -->
    <script id="add-appt-page" type="text/html">


      <div class="add-appt-view">
      <div class="overlay"></div>

        <div class="add-appt-header">

          <span class="header-span">New Appointment</span>
          <button class="back-button">b</button>

        </div>

        <div class="appt-form-container">

          <form class="add-appt-form">

            <input type="text" class="add-appt-name" placeholder="Name"><br>
            <input type="text" class="add-appt-date" placeholder="Date"><span class="calander-icon"></span><br>
            <input type="text" class="add-appt-time" placeholder="Time"><br>
            <input type="text" class="add-appt-street" placeholder="Address"><br>
            <input type="text" class="add-appt-state" placeholder="City, State"><br>
            <input class="confirm-appt" type="submit" value="Make Appointment">

          </form>

        </div>

      </div>

    </script>

    <!-- This script contains HTML for the appointment detail page -->
    <script id="appt-detail-page" type="text/html">

      <div class="appt-detail-view">

        <div class="overlay"></div>
        <div class="appt-detail-header"><span class="header-span">Appointment Detail</span>

          <button class="back-button">b</button>
          <button class="edit-appt-button">e</button>

        </div>

        <div class="appt-detail-container">

          <div class="detail-name">Meet Brad</div>
          <div class="detail-time-date">5pm, Tuesday October, 21</div>
          <div class="detail-address">201 W Main St, Durham NC</div>

        </div>
        <div class="map-canvas">GOOGLE MAP GOES HERE</div>
        <div class="detail-weather">

          <span class="temp">76&#176</span>
          <span class="weather">S</span>

        </div>
        <button class="delete-appt-button">Delete Appointment</button>

      </div>

    </script>

    <script src="js/app.js"></script>
    <script src="js/appointment.js"></script>
    <script src="js/appointment-store.js"></script>
    <!-- // <script src="js/appointment-form.js"></script> -->
    <script src="js/show-list-page.js"></script>
    <script src="js/show-add-page.js"></script>
    <script src="js/show-detail-page.js"></script>
    <script src="js/init.js"></script>

</body>
</html>
